<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="events index">
  <h2>Events</h2>

  <%= link_to("Add New Event", new_event_path, :class => 'action new') %>

  <table class="listing" summary="event list">
    <tr class="header">
      <th>Title</th>
      <th>Place</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Event Pass</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.place %></td>
      <td><%= event.description %></td>
      <td><%= event.starttime.strftime("%h %M %p %m-%d-%Y") %></td>
      <td><%= event.endtime.strftime("%h %M %p %m-%d-%Y") %></td>
      <td><%= event.eventpass %></td>
      <td class="actions">
        <%= link_to("Show", event_path(event), :class => 'action show') %>
        <%= link_to("Edit", edit_event_path(event), :class => 'action edit') %>
        <%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div> 