<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<div class="events index">
  <h2>Events</h2>

  <%= link_to("Admin Login", new_admin_user_session_path) %>

  <table class="listing" summary="event list">
    <tr class="header">
      <th>ID</th>
      <th>Title</th>
      <th>Place</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.place %></td>
      <td><%= event.description %></td>
      <td><%= event.starttime.strftime("%I %M %p %h-%d-%Y") %></td>
      <td><%= event.endtime.strftime("%I %M %p %h-%d-%Y") %></td>
      <td class="actions">
        <%= link_to("Show", event_path(event), :class => 'action show') %>
        <%= link_to("Sign in to event", :controller => "participations", :action => "new", :event_id => event.id) %>
      </td>
    </tr>
    <% end %>
  </table>
</div> 