<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>


<body>
<div class="events index">

  <image src = "https://umaine.edu/bioengineeringclub/wp-content/uploads/sites/457/2018/07/Biomedical-Engineering-Society-Logo-From-Facebook-Page-634x199.jpg" alt = "BMES Logo" width="400" height="175">
  <h2 style = "background-color: #117099 ; color: white ; font-family: serif ; font-variant: small-caps ; font-size:300%">Events</h2>

  <%= link_to("Admin Login", new_admin_user_session_path) %>

  <table class="listing" summary="event list">
    <tr class="header">
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">ID</th>
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">Title</th>
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">Place</th>
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">Description</th>
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">Start Time</th>
      <th style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%">End Time</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.place %></td>
      <td><%= event.description %></td>
      <td><%= event.starttime.strftime("%I %M %p %h-%d-%Y") %></td>
      <td><%= event.endtime.strftime("%I %M %p %h-%d-%Y") %></td>
      <td class="actions">
        <%= link_to("Show", event_path(event), :class => 'action show') %>
        <%= link_to("Sign in to event", :controller => "participations", :action => "new") %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</body>
