<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<body>
<style>
  div.big {
    line-height: 6;
  }
</style>
<div class="events index">

  <image src = "https://umaine.edu/bioengineeringclub/wp-content/uploads/sites/457/2018/07/Biomedical-Engineering-Society-Logo-From-Facebook-Page-634x199.jpg" alt = "BMES Logo" width="400" height="175"><br>
  <br>
  <br>
  <br>


  <h2 style = "background-color: #117099 ; color: white ; LINE-HEIGHT:50px; font-family: serif ; font-variant: small-caps ; font-size:300%">Events</h2>

  <br>
  <%= link_to("Admin Login", new_admin_user_session_path) %>

  <br>
  <br>
  <br>

<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
</style>
<style>
table, td {
  font-size: 120%;
}
</style>

  <table class="listing" summary="event list">
    <tr class="header">
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:19%">Title</th>
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:15%">Place</th>
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:19%">Description</th>
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:15%">Start Time</th>
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:15%">End Time</th>
      <th height="50" style = "color: #117099 ; font-family: serif ; font-variant: small-caps ; font-size:200%; width:19%">Sign In Links</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td height="30"><%= event.title %></td>
      <td><%= event.place %></td>
      <td><%= event.description %></td>
      <td><%= @event&.starttime&.strftime("%I %M %p %h-%d-%Y") %></td>
      <td><%= @event&.endtime&.strftime("%I %M %p %h-%d-%Y") %></td>
      <td class="actions">
        <%= link_to("Show", event_path(event), :class => 'action show') %>
        <%= link_to("Sign in to event", :controller => "participations", :action => "new", :event_id => event.id) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</body>
