<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="Events show">
  <h2>Show event</h2>

<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
</style>
  <table summary="Event detail view">
    <tr>
      <th>Title</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><%= @event.place %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr>
      <th>Start Time</th>
      <td><%= @event.starttime.strftime("%h %M %p %m-%d-%Y") %></td>
    </tr>
    <tr>
      <th>End Time</th>
      <td><%= @event.endtime.strftime("%h %M %p %m-%d-%Y") %></td>
    </tr>
  </table>

  Attendees:
  <table>
  <tr>
    <th>UIN</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <% @count.each do |c| %>
    <tr>
      <td><%= c.uin %></td>
      <td><%= c.first_name %></td>
      <td><%= c.last_name %></td>
      <td><%= c.email %></td>
    </tr>
  <% end %>
  </td>
  </table>
</div>