<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="Events show">
  <h2>Show event</h2>

  <table summary="Event detail view">
    <tr>
      <th>Title</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><%= @event.place %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr>
      <th>Start Time</th>
      <td><%= @event.starttime.strftime("%h %M %p %m-%d-%Y") %></td>
    </tr>
    <tr>
      <th>End Time</th>
      <td><%= @event.endtime.strftime("%h %M %p %m-%d-%Y") %></td>
    </tr>
    <tr>
      <th>Event Password</th>
      <td><%= @event.eventpass %></td>
    </tr>
  </table>
</div>